<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        
     <h1>Our very first blog post</h1>

        {% for post in posts %}
            <h2>{{post.title}}</h2>
            <a href="{% url 'delete' post.id %}">Delete</a>
            <a href="{% url 'article' post.id %}">{{post.title}}</a>
        {% endfor%}
    </div>
     <div>
        <h1>Enter post here</h1>

            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}

               <label for="title">Title</label>
               <input type="text" name="title"><br>
               <label for="description">description</label>
               <input type="text" name="description"><br>
               <label for="post">post</label>
               <input type="text" name="post"><br>
               <input type="submit">



            </form>
            {% if messages %}
                {%for message in messages %}
                    {{message}}
                {% endfor%}
            {% endif%}
    </div>
</body>
</html>