<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>The is the post</h1>
    <h2>Title: {{post_item.title}} </h2>
    <h3>Description: {{post_item.description}} </h3>
    <h6>author: {{post_item.author}} </h6>
    <p>date published: {{post_item.date_published}} </p>
    <h2>post: {{post_item.post}} </h2>
</body>
</html>